body {
    background-color: rgb(1, 10, 19);
    color: rgb(160, 155, 140);
    margin: 0;
    font-size: 17px;
    overflow-x: hidden;
}

/* import fonts */
@font-face {
    font-family: 'Arcane Nine';
    src: url("font/Arcane\ Nine.otf") format("opentype");
}
@font-face {
    font-family: 'Beau-B';
    src: url("font/BeaufortforLOL-Bold.ttf") format("opentype");
}
@font-face {
    font-family: 'Beau-M';
    src: url('font/BeaufortforLOL-Medium.ttf') format("opentype");
}
@font-face {
    font-family: 'Spiegel';
    src: url('font/SpiegelSansCd-5Regular_TRIAL.otf') format("opentype");
}
@font-face {
    font-family: 'Spiegel-B';
    src: url('font/SpiegelSans-7Bold_TRIAL.otf') format('opentype');
}

/* typography */
#h1{
    font-family: 'Beau-B', sans-serif;
    font-size: 40pt;
    letter-spacing: 0.05em;
    line-height: 42pt;
    text-transform: uppercase;
}
#h2{
    font-family: 'Beau-B', sans-serif;
    font-size: 28pt;
    letter-spacing: 0.05em;
    line-height: 32pt;
    text-transform: uppercase;
}
#h3{
    font-family: 'Beau-B', sans-serif;
    font-size: 23pt;
    letter-spacing: 0.05em;
    line-height: 28pt;
    text-transform: uppercase;
}
#h4{
    font-family: 'Beau-B', sans-serif;
    font-size: 18pt;
    letter-spacing: 0.05em;
    line-height: 22pt;
    text-transform: uppercase;
}
#h5{
    font-family: 'Beau-B', sans-serif;
    font-size: 14pt;
    letter-spacing: 0.075em;
    line-height: 18pt;
    text-transform: uppercase;
}
#medium-body{
    font-family: 'Spiegel', sans-serif;
    font-size: 14pt;
    letter-spacing: 0.025em;
    line-height: 20pt;
}
#bold-label{
    font-family: 'Spiegel-B', sans-serif;
    font-size: 11pt;
    letter-spacing: 0.05em;
    line-height: 16pt;
}
#large-number{
    font-family: 'Beau-M', sans-serif;
    font-size: 57pt;
    letter-spacing: 0.025em;
    line-height: 62pt;
}
#stat-number{
    font-family: 'Beau-B', sans-serif;
    font-size: 11pt;
    letter-spacing: 0.05em;
    line-height: 20pt;
}

/* text */
.title{
    color: rgb(240, 230, 210);
}
.topic{
    color: rgb(200, 155, 60);
}
.des{
    color: rgb(160, 155, 140);
}
#h1{
    padding-bottom: 20px;
    color: rgb(240, 230, 210);
}
#h2, #h3, #h4, #h5 {
    padding-bottom: 5px;
}

/* loading screen */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
    overflow: hidden;
}

.loading-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/35690531/original_4b4c2a1cec744fc75009bbbdae46d97e.png?1743548969?bc=0');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media screen and (max-width: 1300px) {
    .loading-container::before {
        background-image: none;
        background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/36578878/original_02967268bdda743199dc503a3b0ed3bc.webp?1746855004?bc=0s');
    }
}

.loading-bar-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 320px;
    height: 40px;
    position: absolute;
    bottom: 6em;
    left: 50%;
    transform: translateX(-50%);
}

.loading-segment {
    width: 40px;
    height: 100%;
    background-color: rgba(1, 10, 19);
    border: 2px solid rgba(1, 10, 19);
    border-radius: 6px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    opacity: 0;
}

.filled {
    background-color: rgb(200, 155, 60);
    border-color: rgb(200, 155, 60);
    opacity: 1;
}

@keyframes typewriter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-text {
    margin-top: 20px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* hamburger menu styles */
.H-Menu {
    position: fixed;
    top: 10px;
    right: 5%;
    z-index: 9998;
    display: none;
}

.H-Menu img {
    width: 2em;
    cursor: pointer;
    z-index: 9900;
}

.H-M-Content {
    display: none;
    position: absolute;
    right: -5vw;
    top: -10px;
    background-color: rgb(1, 10, 19);
    min-width: 13em;
    padding: 30px 30px;
    height: 100vh;
    z-index: 9000;
}

.H-M-Content a {
    display: block;
    margin: 8px 0;
    text-decoration: none;
    color: rgb(120, 90, 40);
    padding-bottom: 0.5em;
}

.H-M-Content a:hover {
    text-decoration: underline;
}

.H-M-Content a img {
    height: 2em;
    width: auto;
    padding-bottom: 0.5em;
}

a span{
    color: rgb(200, 155, 60) !important;
}
a span:hover{
    color: rgb(200, 155, 60);
    text-decoration: underline;
}

/* new nav */
.new-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(1, 10, 19); 
    padding-bottom: 0;
}

/* spacer element */
.nav-spacer {
    height: calc(3em + 5em);
    width: 100%;
    display: block;
}

.top-nav {
    border-bottom: rgb(30, 40, 45) solid 1.5px;
    height: 3em;
    position: relative;
}

.bottom-nav {
    border-bottom: rgb(120, 90, 40) solid 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 10, 19); 
}

.new-nav .bottom-nav .topic#h5 {
    position: relative;
    padding: 5px 10%;
}

.bottom-nav .topic a span {
    color: rgb(91, 90, 86);
}

.bottom-nav .topic a span:hover {
    text-decoration: underline;
    color: rgb(91, 90, 86);
}

a {
    text-decoration: none;
    color: rgb(120, 90, 40);
}

a:hover {
    text-decoration: underline;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
}

.nav-logo a img#Arcane {
    height: 1.5em;
    width: auto;
}

.nav-logo .brake {
    width: 1.5px;
    height: 3em;
    background-color: rgb(30, 40, 45);
    margin: 0 15px;
}

.nav-logo a img#RiotGames {
    height: 1em;
    width: auto;
}

.top-nav .Netflix a img#Net {
    height: 1em;
    width: auto;
}

.top-nav .Netflix {
    position: absolute;
    right: 5%;
    top: 15px;
}

@media screen and (min-width: 901px) {
    .new-nav .bottom-nav .topic#h5 {
        position: relative;
        padding: 15px 12%;
    }
    
    .H-Menu {
        display: none; 
    }
}

@media screen and (max-width: 900px) {
    .H-Menu {
        display: block; 
    }
    
    .bottom-nav {
        display: none; 
    }
    
    .nav-spacer {
        height: 5em; 
    }
    
    .top-nav .Netflix {
        display: none; 
    }
    
    .nav-logo a img#RiotGames {
        display: none; 
    }
    
    .nav-logo .brake {
        display: none; 
    }
    
    .nav-logo {
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    
    .nav-logo a img#Arcane {
        height: 2.5em; 
    }

    .top-nav{
        border-bottom: rgb(120, 90, 40) solid 1.5px;
    }
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common Styles for Full-Screen Sections */
.front-cover, .about, .characters {
    position: relative;
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* front cover */
#background-video {
    position: absolute;
    top: -191px;
    left: 0;
    width: 100%;
    height: calc(100vh + 330px);
    object-fit: cover;
    z-index: -1;
}
.front-cover {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 90vh;
    width: 100vw;
}
.front-cover .content {
    position: static;
    text-align: left;
    z-index: 10;
    padding-right: 0;
    padding-bottom: 3em;
    width: 80vw;
    text-align: center;
}
.down-arrow img{
    width: 2em;
    padding-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
}
/* text change */
#lg-view{
    display: inline-block;
}
#sm-view{
    display: none;
}
@media screen and (max-width: 900px){
    #lg-view{
        display: none;
    }
    #sm-view{
        display: inline-block;
    }    
}
@media screen and (min-width: 901px){
    .front-cover{
        height: 84vh;
    }
    
}

/* about */
.about {
    height: 60vh;
    margin: 0;
    z-index: 1;
    background-color: rgb(1, 10, 19);
}
.about .content#about-section .title {
    position: absolute;
    right: 5%;
    top: 50px;
}
.about .content#about-section .des{
    position: absolute;
    right: 5%;
    top: calc(50px + 80px + var(--title-height, 0px)); 
    max-width: 25%;
    width: 100vw;
    text-align: right;
}
.about .content#about-section img{
    max-width: 60%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1300px){
    .about{
        height: 40vh;
        margin: 0;
        z-index: 1;
    }
}

/* Music */
.music {
    height: 85vh !important;
    width: 100vw;
    margin: 0;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:900px){
    .music{
        height: 90vh !important;
        width: 100vw;
        margin: 0;
        z-index: 1;
    }
    
}
.music#music-img{
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/35776200/original_69c1cf4e18a0238c838cd0601e71ce3e.png?1743811557?bc=0');
    background-color: rgba(1, 10, 19, 0.58);  
    z-index: -10;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-blend-mode: overlay;
}
@media screen and (max-width: 1000px){
    .music#music-img{
        height: 95vh;
    }
    .music .content .des{
        margin-bottom: -20px !important;
    }
    
}
.music .content {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2; 
    pointer-events: none;
}

.music .content * {
    pointer-events: auto; 
}

/* spotify */
.spotify{
    position: relative;
    margin-top: -29em;
    margin-left: 25%;
}

/* smol images */
.topic-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
    width: 100%; 
}

.topic-row img {
    height: 25px;
    width: auto;
    margin: 0 5px; 
}

.topic-row .topic {
    position: relative !important;
}

.topic-row + .title {
    text-align: center;
    width: 100%;
    margin-top: 10px; 
}




 
/* Original showcase styles */
.showcase {
   height: 103vh !important;
   width: 100vw;
   margin: 0;
   position: relative;
   z-index: 1;
}

.showcase-BG-img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 110vh;
   background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/35690513/original_7a6126b4915806b6fed3622263c4ea5b.png?1743548958?bc=0');
   background-color: rgba(1, 10, 19, 0.8);
   background-blend-mode: overlay;
   background-size: cover;
   background-position: center;
   z-index: -1;
}

.showcase .content {
   position: relative;
   padding: 50px 0;
   margin: 0 5%;
}

.showcase .content .des{
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

@media screen and (max-width: 900px) {
   .showcase {
       height: 90vh !important;
   }
}

/* Carousel */
.carousel {
    width: 100%;
    height: 80vh;
    z-index: 100;
    position: relative;
    overflow: hidden;
}
 
.slide {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}
 
.slide video:nth-child(1) {
    height: 55vh;
    width: auto;
    z-index: 130;
    margin-bottom: 5px;
    flex-basis: 100%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
 
.slide video:not(:nth-child(1)) {
    height: 22vh;
    width: auto;
    z-index: 120;
    margin: 0 5px;
    transition: all 0.6s ease-in-out;
    cursor: pointer; 
}
 
.slide video:nth-child(n+5) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
 
.carousel button {
    position: absolute;
    top: 27.5vh; 
    transform: translateY(-50%); 
    z-index: 140;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(240, 230, 210);
    border: 1px rgb(200, 155, 60) solid;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

@media screen and (min-width:1001px){
    .carousel{
        height: 77vh;
    }
}

.carousel button:first-of-type {
    left: 10px;
}
 
.carousel button:last-of-type {
    right: 10px;
}
 
.carousel button:hover {
    background-color: rgba(200, 155, 60, 0.8);
}

/* Show buttons only on smaller screens */
@media screen and (max-width:1000px){
    .carousel button {
        display: flex;
    }
    .slide video:not(:nth-child(1)) {
        display: none;
    }
    .carousel{
        height: auto;
    }
    .showcase{
        height: 90vh !important;
    }
    .showcase-BG-img{
        height: 100vh;
    }
    .showcase .content .des{
        display: none;
    }
}

/* footer */
footer {
    width: 100vw;
    height: 10vh !important;
    max-height: 10vh !important;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    background-color: rgb(1, 10, 19);
    border-top: 1px solid rgb(200, 155, 60);
    padding: 0;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

footer .content {
    position: relative;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%; 
    align-items: center; 
    overflow: hidden;
}

footer .content .des {
    width: 100%;
    position: relative;
    color: rgb(240, 230, 210);
}

footer .content .des#show-des {
    width: 100%;
    position: relative;
    color: rgb(240, 230, 210);
    display: none;
}

footer .feedback .des a{
    color: rgb(240, 230, 210) !important;
}

footer .feedback .des a:hover{
    color: rgb(200, 155, 60);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    footer .content .des#show-des {
        display: inline-block;
    }
    footer .content .des {
        display: none;
    }
    
    footer {
        height: 10vh !important;
        max-height: 10vh !important;
    }
}
